# text editor backups
*.sw?
*~

# jekyll
_site/

# dependencies
.sass-cache/
bower_components/
node_modules/
.bundle/

# exclude source files except a few less files
!assets/src/
assets/src/*
!assets/src/less/
!assets/src/img/
assets/src/less/*
!assets/src/less/*.less
!assets/src/less/config/
assets/src/less/config/*
!assets/src/less/config/*.less
