---
layout: default
title: root
permalink: "/"
tag: "from me to you eternally, with lots of love and irony."
---

<div class="uk-container uk-container-center uk-margin-top">

<!--
	<div class="uk-panel uk-panel-box uk-panel-header 
	            uk-margin uk-visible-small">
		<div class="uk-flex uk-flex-middle">
			<img class="uk-thumbnail-expand uk-margin-right" src="{{ site.face }}" 
			     style="width:50px;height:auto" alt="{{ site.author }}'s face.">
			<div class="uk-flex uk-flex-column">
				<div>i am the {{ site.author }}.</div>
				<div class="">
					<a href="mailto:{{ site.email }}" 
						class="uk-icon-small uk-icon-button uk-icon-envelope-o"></a>
					<a href="https://twitter.com/{{ site.twitter }}" 
						class="uk-icon-small uk-icon-button uk-icon-twitter"></a>
					<a href="{{ site.github }}" 
						class="uk-icon-small uk-icon-button uk-icon-github"></a>
					<a data-uk-modal href="#bitcoin" 
						class="uk-icon-small uk-icon-button uk-icon-bitcoin"></a>
				</div>
			</div>
		</div>
	</div>
-->

	<!-- show a poem or something. -->
	<div class="uk-grid">
		<div class="uk-width-medium-7-10 uk-width-large-3-4 uk-width-xlarge-4-5">
			<div class="uk-panel uk-panel-box">
				<div class="uk-article uk-text-center">
					<div class="uk-article-title">Fears and Scruples</div>
					<div class="uk-article-meta">Robert Browning</div>
					<div class="uk-overflow-container uk-text-nowrap">
						{% capture poem %}
						{% include poem.html %}
						{% endcapture %}
						{{ poem | newline_to_br }}
					</div>
				</div>
			</div>
		</div>
		<div class="uk-width-medium-3-10 uk-width-large-1-4 uk-width-xlarge-1-5 
		            uk-hidden-small">
			<aside class="uk-panel uk-panel-box uk-panel-header" 
			       data-uk-sticky="{top:70, boundary:true}">
				<img class="uk-thumbnail-expand"
				     src="{{ site.face }}" alt="my face.">
				<hr>
				<p class="uk-text-large">i am the leftymitt.</p>
				<div class="uk-grid uk-grid-small uk-grid-width-1-4">
					<li>
						<a href="mailto:{{ site.email }}" 
						   class="uk-icon-envelope-o uk-icon-button"></a>
					</li>
					<li>
						<a href="https://twitter.com/{{ site.twitter }}" 
						   class="uk-icon-twitter uk-icon-button"></a>
					</li>
					<li>
						<a href="{{ site.github }}" 
						   class="uk-icon-github uk-icon-button"></a>
					</li>
					<li>
						<a data-uk-modal href="#bitcoin" 
						   class="uk-icon-bitcoin uk-icon-button"></a>
					</li>
				</div>
			</aside>
		</div>
	</div>

	<hr class="uk-article-divider">
	
	<!-- show the most recent project. -->
	<h2 class="uk-h2">
		<div class="uk-flex uk-flex-space-between 
		            uk-flex-wrap uk-flex-wrap-space-between">
			<div>latest projects:</div>
			<div><a href="/projects/" class="uk-button uk-button-primary">
				all projects. <i class="uk-icon-justify uk-icon-arrow-right"></i>
			</a></div>
		</div>
	</h2>

	{% assign sorted_projects = site.projects | sort: 'added_date' | reverse %}
	{% assign project = sorted_projects.first %}
   <div data-uk-parallax="{bg:'-200'}" 
        style="background-image:url('{{ site.images }}/{{ project.banner }}'); height:50vh" 
        class="uk-flex uk-flex-middle uk-flex-left">
      {% if project.link %} <a href="{{ project.link }}">
      {% else %} <a href="{{ project.url }}">
      {% endif %}
      <div class="uk-panel uk-panel-box uk-width-large-3-4">
         <div class="uk-h2">
            {{ project.title }}
            {% if project.link %} 
            <div class="uk-float-right">
               &nbsp<i class="uk-icon-external-link"></i>
            </div>
            {% endif %}
         </div>
         <p class="uk-text-large uk-hidden-small">
            {{ project.tag }}
         </p>
      </div>
      </a>
   </div>

	<hr class="uk-article-divider">

	<!-- show most recent entries on the resources page. -->
	<h2 class="uk-h2">
		<div class="uk-flex uk-flex-space-between 
		            uk-flex-wrap uk-flex-wrap-space-between">
			<div>latest resources:</div>
			<div><a href="/resources/" class="uk-button uk-button-primary">
				all resources. <i class="uk-icon-justify uk-icon-arrow-right"></i>
			</a></div>
		</div>
	</h2>
   
	<div class="uk-grid uk-grid-match uk-grid-small" 
	     data-uk-grid-margin data-uk-grid-match="{target:'.uk-grid'}">
		{% assign sorted_resources = site.resources | sort: 'added_date' | reverse %}
		{% for resource in sorted_resources limit:6 %}
		<div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-3">
			{% if resource.link %} <a href="{{ resource.link }}">
			{% else %} <a href="{{ resource.url }}">
			{% endif %}
			<div class="uk-panel uk-panel-box uk-panel-box-hover">
				<div class="uk-grid uk-grid-medium uk-flex-middle">
					<div class="uk-width-1-4 uk-width-small-1-6
					            uk-width-medium-2-10 uk-width-large-3-10 
					            uk-width-xlarge-1-4">
					{% if resource.icon %}
						<img class="uk-thumbnail-expand" 
						     src="{{ site.images }}/{{ resource.icon }}"
							  alt="author logo">
					{% else %}
						<img class="uk-thumbnail-expand" src="{{ site.face }}" 
							  alt="{{ site.author }} logo">
					{% endif %}
					</div>
					<div class="uk-width-3-4 uk-width-small-5-6
					            uk-width-medium-8-10 uk-width-large-7-10 
					            uk-width-xlarge-3-4">
						<h3 class="uk-h3">
							{% if resource.link %}
								<i class="uk-icon-external-link uk-float-right 
											 uk-margin-small-left"></i>
							{% endif %}
							{{ resource.title }}
						</h3>
					</div>
				</div>
			</div>
			</a>
		</div>
		{% endfor %}
   </div>
	
	<hr class="uk-article-divider">

	<!-- show recent media entries. -->	
	<h2 class="uk-h2">
		<div class="uk-flex uk-flex-space-between 
		            uk-flex-wrap uk-flex-wrap-space-between">
			<div>latest media:</div>
			<div><a href="/media/" class="uk-button uk-button-primary">
				all media. <i class="uk-icon-justify uk-icon-arrow-right"></i>
			</a></div>
		</div>
	</h2>
	
	<div class="uk-grid" data-uk-grid="{gutter:15, animation:false}"> 
	
	{% assign sorted_media = site.media | sort: 'added_date' | reverse %}
	{% for item in sorted_media limit:6 %}
	{% if item.format == "video" %}
		{% for type in site.data.meta.media %}
		{% if item.type == type.name or type.alt contains item.type %}
		<div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-3"> 
			{% if type.color %}
			<div class="uk-panel uk-panel-box uk-panel-box-{{ type.color }} 
							uk-panel-box-{{ type.color }}-hover">
			{% else %}
			<div class="uk-panel uk-panel-box uk-panel-box-hover">
			{% endif %}
		{% endif %}
		{% endfor %}
				<div class="uk-panel-title uk-panel-header">
					<div class="uk-float-right">
					{% if item.rating %}
						{% assign rating = item.rating  | split: '.' %}
						{% for idx in (1..rating[0]) %}
							<i class="uk-icon-star"></i>
						{% endfor %}
						{% if rating[1] == "5" %}
							<i class="uk-icon-star-half-o"></i>
							{% for idx in (rating[0]..3) %}
								<i class="uk-icon-star-o"></i>
							{% endfor %}
						{% else %}
							{% for idx in (rating[0]..4) %}
								<i class="uk-icon-star-o"></i>
							{% endfor %}
						{% endif %}
					{% endif %}
					</div>
					{{ item.title }}
				</div>
				{% if item.link contains "youtube.com" %}
					<div class="uk-text-center">
						<figure class="uk-overlay uk-overlay-hover">
							<img alt="{{ item.title }} cover image"
							     src="{{ item.link | replace: 'www.youtube.com/watch?v=', 'img.youtube.com/vi/' }}/hqdefault.jpg">
							<div class="uk-overlay-panel uk-overlay-fade uk-overlay-background
											uk-flex uk-flex-center uk-flex-middle">
								<i class="uk-contrast uk-icon-play-circle uk-icon-large"></i>
							</div>
							<a class="uk-position-cover" data-uk-lightbox
								href="{{ item.link }}">
							</a>
						</figure>
					</div>
				{% else %}
					<video controls class="uk-cover-object" width="420" height="315">
						<source src="{{ item.link }}" type="video">
					</video>	
				{% endif %}

			</div>
		</div>
		{% elsif item.format == "text" %}
		{% for type in site.data.meta.media %}
		{% if item.type == type.name or type.alt contains item.type %}
		<div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-3">

			{% if item.link %}<a href="{{ item.link }}">
			{% else %}<a href="{{ item.url }}">
			{% endif %}

			{% if type.color %}
			<div class="uk-panel uk-panel-box uk-panel-box-{{ type.color }} 
							uk-panel-box-{{ type.color }}-hover">
			{% else %}
			<div class="uk-panel uk-panel-box uk-panel-box-hover">
			{% endif %}
		{% endif %}
		{% endfor %}

				<div class="uk-panel-title uk-panel-header">
					<div class="uk-float-right">
						{% if item.rating %}
							{% assign rating = item.rating  | split: '.' %}
							{% for idx in (1..rating[0]) %}
								<i class="uk-icon-star"></i>
							{% endfor %}
							{% if rating[1] == "5" %}
								<i class="uk-icon-star-half-o"></i>
								{% for idx in (rating[0]..3) %}
									<i class="uk-icon-star-o"></i>
								{% endfor %}
							{% else %}
								{% for idx in (rating[0]..4) %}
									<i class="uk-icon-star-o"></i>
								{% endfor %}
							{% endif %}
						{% endif %}
						{% if item.link %}<i class="uk-icon-external-link"></i>{% endif %}
					</div>
					{{ item.title }}
				</div>
				{% if item.author %}
				<div class="uk-text-muted uk-margin-small-left">by {{ item.author }}
					{% if item.published_date %} on {{ item.published_date | date_to_string }}
					{% elsif item.added_date %} on {{ item.added_date | date_to_string }}
					{% endif %} 
				</div>
				{% endif %}
				<p>
					{% if item.cover %}
					<img class="uk-thumbnail-expand" alt="{{ item.title }} cover"
					     src="{{ site.images }}/{{ item.cover }}">
					{% elsif item.icon %}
					<img style="max-width:10%" alt="source logo"
					     class="uk-float-left uk-margin-small-bottom uk-margin-right" 
					     src="{{ site.images }}/{{ item.icon }}">
					{% else %}
					<img class="uk-float-left uk-margin-right" alt="source logo"
					     src="{{ site.face }}">
					{% endif %}

					{% unless item.cover %}
					{{ item.content | strip_html | truncatewords:60 }}
					{% endunless %}
				</p>
			</div>
			{% if item.link %}</a>
			{% else %}</a>
			{% endif %}
		</div>
		{% endif %}
	{% endfor %}

	</div>

	<hr class="uk-article-divider">

	<!-- and finally a few blog posts. -->
	<h2 class="uk-h2">
		<div class="uk-flex uk-flex-space-between 
		            uk-flex-wrap uk-flex-wrap-space-between">
			<div>latest posts:</div>
			<div><a href="/blog/" class="uk-button uk-button-primary">
				blog. <i class="uk-icon-justify uk-icon-arrow-right"></i>
			</a></div>
		</div>
	</h2>

	<div class="uk-grid" data-uk-grid="{animation:false}">
	{% for post in site.posts limit:4 %}
	<div class="uk-width-1-1 uk-width-medium-1-2 uk-margin">
		<div class="uk-flex">
			<div class="uk-margin-right">
				{% if post.img %}
				<img style="width:60px; height:auto" 
			        src="{{ site.images }}/{{ post.img }}" alt="post image">
				{% elsif post.icon %}
				<img style="width:60px; height:auto" alt="post image"
				     src="{{ site.images }}/{{ post.icon }}">
				{% else %}
				<img style="width:60px; height:auto" alt="post image"
				     src="{{ site.face }}">
				{% endif %}
			</div>
			<div>
				<h3 class="uk-h3"><a href="{{ post.url }}">{{ post.title }}</a></h3>
				<div class="uk-article-meta uk-margin-left">posted on {{ post.date | date_to_string }}</div>
			</div>
		</div>
		<p class="uk-article">{{ post.excerpt | strip_html | truncatewords:100 }}</p>
		<hr class="uk-article-divider">
	</div>
	{% endfor %}
	</div>

</div>
