<form method="get" class="uk-search" data-uk-search
      action="https://duckduckgo.com/" >
  <input class="uk-search-field" type="search" name="q" maxlength="255"
         placeholder="search">

  <input type="hidden" name="sites" value="{{ site.url }}">

  <!-- redirect -->
  <input type="hidden" name="kd" value="1"/>

  <!-- https -->
  <input type="hidden" name="kh" value="1"/>

  <!-- header color -->
  <input type="hidden" name="kj" value="#5077BF"/>

  <!-- hightlight (hover) color -->
  <input type="hidden" name="ky" value="#353945"/>

  <!-- url color -->
  <input type="hidden" name="kx" value="#EB84AC"/>

  <!-- background color -->
  <input type="hidden" name="k7" value="#515867"/>

  <!-- text color -->
  <input type="hidden" name="k8" value="#D3DAE3"/>

  <!-- links color -->
  <input type="hidden" name="k9" value="#7BC0EA"/>

  <!-- visted links color -->
  <input type="hidden" name="kaa" value="#65B6E7"/>

  <!-- width -->
  <input type="hidden" name="kw" value="w"/>

  <!-- underline -->
  <input type="hidden" name="ku" value="-1"/>

  <!-- advertisements -->
  <input type="hidden" name="k1" value="-1"/>

  <!-- header visibility -->
  <input type="hidden" name="ko" value="-1"/>

  <!-- theme -->
  <input type="hidden" name="kae" value="#515867"/> 
</form>
